<h3>Yeni Ders Ekle</h3>
<form [formGroup]="dersAddForm" (ngSubmit)="add()">
    <div class="form-group">
      <input type="number" id="DersId" name="DersId" formControlName="DersId" class="form-control" placeholder="Ders Id">
      <div class="alert alert-danger"
      *ngIf="dersAddForm.get('DersId').hasError('required') && dersAddForm.get('DersId').dirty">
      Ders ıd Zorunlu
      </div>
    </div>

    <div class="form-group">
        <input type="text" id="DersAdi" name="DersAdi" formControlName="DersAdi" class="form-control" placeholder="Ders Adı">
        <div class="alert alert-danger"
        *ngIf="dersAddForm.get('DersAdi').hasError('required') && dersAddForm.get('DersAdi').dirty">
        Ders Adı Zorunlu
        </div>
    </div>

    <div class="form-group">
      <input type="number" id="Ucret" name="Ucret" formControlName="Ucret" class="form-control" placeholder="Ucret">
      <div class="alert alert-danger"
      *ngIf="dersAddForm.get('Ucret').hasError('required') && dersAddForm.get('Ucret').dirty">
      Ucret Zorunlu
      </div>
    </div>

    <div class="form-group">
      <input type="text" id="Icerik" name="Icerik" formControlName="Icerik" class="form-control" placeholder="Icerik">
      <div class="alert alert-danger"
      *ngIf="dersAddForm.get('Icerik').hasError('required') && dersAddForm.get('Icerik').dirty">
      Icerik Zorunlu
      </div>
    </div>

    <div class="form-group">
      <input type="text" id="ImageUrl" name="ImageUrl" formControlName="ImageUrl" class="form-control" placeholder="ImageUrl">
      <div class="alert alert-danger"
      *ngIf="dersAddForm.get('ImageUrl').hasError('required') && dersAddForm.get('ImageUrl').dirty">
      ImageUrl Zorunlu
      </div>
    </div>

    <div class="form-group">
      <input type="number" id="KursId" name="KursId" formControlName="KursId" class="form-control" placeholder="Kurs Id">
      <div class="alert alert-danger"
      *ngIf="dersAddForm.get('KursId').hasError('required') && dersAddForm.get('KursId').dirty">
      Kurs Id Zorunlu
      </div>
    </div>

    <div class="form-group">
      <input type="number" id="OgretmenId" name="OgretmenId" formControlName="OgretmenId" class="form-control" placeholder="Ogretmen Id">
      <div class="alert alert-danger"
      *ngIf="dersAddForm.get('OgretmenId').hasError('required') && dersAddForm.get('OgretmenId').dirty">
      Ogretmen Id Zorunlu
      </div>
    </div>

    <div class="form-group">
      <input type="text" id="OgretmenAdi" name="OgretmenAdi" formControlName="OgretmenAdi" class="form-control" placeholder="Ogretmen Adi">
      <div class="alert alert-danger"
      *ngIf="dersAddForm.get('OgretmenAdi').hasError('required') && dersAddForm.get('OgretmenAdi').dirty">
      Ogretmen Adı Zorunlu
      </div>
    </div>
    
    <div class="form-group">
      <input type="number" id="KategoriId" name="KategoriId" formControlName="KategoriId" class="form-control" placeholder="Kategori Id">
      <div class="alert alert-danger"
      *ngIf="dersAddForm.get('KategoriId').hasError('required') && dersAddForm.get('KategoriId').dirty">
      Kategori Id Zorunlu
      </div>
    </div>

    <div class="form-group">
      <input type="text" id="KategoriAdi" name="KategoriAdi" formControlName="KategoriAdi" class="form-control" placeholder="Kategori Adi">
      <div class="alert alert-danger"
      *ngIf="dersAddForm.get('KategoriAdi').hasError('required') && dersAddForm.get('KategoriAdi').dirty">
      Kategori Adi Zorunlu
      </div>
    </div>

<button type="submit" class="btn btn-primary" [disabled]="dersAddForm.invalid">Ders Ekle</button>

</form>


    <!-- <div class="form-group">
        <select class="form-control" formControlName="KategoriAdi" name="KategoriAdi">
            <option *ngFor="let Kategori of kategoriler" [value]="Kategori.KategoriAdi">{{Kategori.KategoriAdi}}</option>
        </select>
        <div class="alert alert-danger"
            *ngIf="dersAddForm.get('KategoriAdi').hasError(required)
            && dersAddForm.get('KategoriAdi').touched">
            Kategori Zorunlu
        </div>
    </div> -->

